* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 19px;
    background-color: #D2D2D2;

    & .nav-bar {
        width: 100%;

        & ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            list-style: none;
            

            & li {
                font-size: 24px;
            }

            & li:last-child {
                padding-right: 1rem;
            }

            & img {
                width: 247px;
                height: 88px;
            }

        }
    }
}

main {
    width: 100%;
    height: calc(100vh - 97px);
    display: flex;
    justify-content: center;
    align-items: center;

    & section {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80%;
        width: 80%;

        & .left-content {
            width: 40%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 4rem 0;
            border: 1px solid black;
            border-radius: 10px;
            box-shadow: 5px 5px 15px rgba(122,122,122,1);

            & .title h2{
                font-size: 36px;
                font-weight: 400;
            }

            & .register {
                padding-top: 1rem;

                & .inputs {
                    display: flex;
                    flex-direction: column;
    
                    & label {
                        font-size: 20px;
                        margin-bottom: 4px;
                        padding-left: 0.3rem;
                    }
    
                    & input {
                        width: 455px;
                        height: 38px;
                        padding: 0 1.5rem;
                        border: 1px solid black;
                        outline: 0;
                        border-radius: 10px;
                        font-size: 18px;
                        margin-bottom: 5px;
                    }
                }

                & .btn-reg {
                    display: flex;
                    justify-content: center;
                    padding-top: 0.8rem;

                    & input {
                        width: 156px;
                        height: 38px;
                        background-color: rgba(255, 255, 255, 0);
                        border-radius: 10px;
                        border: 1px solid black;
                        font-size: 20px;
                        cursor: pointer;
                    }

                    & input:hover {
                        background-color: rgba(194, 194, 194, 0.4);
                    }
                }
            }

        }
    }
}


